@import '~@angular/material/theming';
@include mat-core();

// Our dark theme
.dark-theme {
  color: $light-primary-text;
  $dark-primary: mat-palette($mat-blue);
  $dark-accent: mat-palette(
    $mat-blue,
    A200,
    A400,
    A700
  ); // not really used, or matching
  $dark-warn: mat-palette($mat-red);

  $dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include angular-material-theme($dark-theme);
}

.light-theme {
  $light-primary: mat-palette($mat-blue);
  $light-accent: mat-palette(
    $mat-blue,
    A200,
    A400,
    A700
  ); // not really used, or matching
  $light-warn: mat-palette($mat-red);

  $light-theme: mat-light-theme($light-primary, $light-accent, $light-warn);

  @include angular-material-theme($light-theme);
}

.hacker-theme {
  color: $light-primary-text;

  $hacker-primary: mat-palette($mat-green);
  $hacker-accent: mat-palette(
    $mat-green,
    A200,
    A400,
    A700
  ); // not really used, or matching
  $hacker-warn: mat-palette($mat-red);

  $hacker-theme: mat-dark-theme($hacker-primary, $hacker-accent, $hacker-warn);

  @include angular-material-theme($hacker-theme);
}
