@use '~@angular/material' as mat;
@include mat.core();

// Our dark theme
.dark-theme {
  color: white;
  $dark-primary: mat.define-palette(mat.$blue-palette);
  $dark-accent: mat.define-palette(
    mat.$blue-palette,
    A200,
    A400,
    A700
  ); // not really used, or matching
  $dark-warn: mat.define-palette(mat.$red-palette);

  $dark-theme: mat.define-dark-theme($dark-primary, $dark-accent, $dark-warn);

  @include mat.all-component-themes($dark-theme);
}

.light-theme {
  $light-primary: mat.define-palette(mat.$blue-palette);
  $light-accent: mat.define-palette(
    mat.$blue-palette,
    A200,
    A400,
    A700
  ); // not really used, or matching
  $light-warn: mat.define-palette(mat.$red-palette);

  $light-theme: mat.define-light-theme(
    $light-primary,
    $light-accent,
    $light-warn
  );

  @include mat.all-component-themes($light-theme);
}

.hacker-theme {
  color: white;

  $hacker-primary: mat.define-palette(mat.$green-palette);
  $hacker-accent: mat.define-palette(
    mat.$green-palette,
    A200,
    A400,
    A700
  ); // not really used, or matching
  $hacker-warn: mat.define-palette(mat.$red-palette);

  $hacker-theme: mat.define-dark-theme(
    $hacker-primary,
    $hacker-accent,
    $hacker-warn
  );

  @include mat.all-component-themes($hacker-theme);
}
